<div class='container'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>&#128209;ProjNotes</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
    </ul>
<!-- Visualizacion de navegacion para moviles -->
<a href='#' data-target='slide-out' class='sidenav-trigger'>
  <i class='material-icons left'>menu</i>
  </a>
  <ul id='slide-out' class='sidenav'>
    <li>
      <a href='/'>
      <i class='material-icons left'>home</i>
      Inicio
      </a>
      </li>
    <li>
      <a href='/about'>
     <i class='material-icons left'>business</i>
      Acerca De
      </a></li>
    </ul>
     </div>
</div>