<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Nuestro equipo </h1>
        <p class="col-md-8 fs-4">Somos un equipo de especialistas que buscamos brindar una atención de alta calidad, cubriendo al máximo las necesidades de nuestros pacientes. Nos enfocamos en resultados extraordinarios, manejando lo último en tecnología dental y diseño de sonrisa.</p>
       <div class="container">
        <h2 class="display-5 fw-bold">Nos ubicamos en:</h2>
      <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.8890322225675!2d-99.03393128514325!3d19.41719998689308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fcbf0f5213ad%3A0xf7fc3f5152e5548!2sVirgen%20de%20F%C3%A1tima%2060%2C%20Virgencitas%2C%2057300%20Nezahualc%C3%B3yotl%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1669180121519!5m2!1ses-419!2smx"></iframe>
      </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Odontologa Joseline</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis commodi doloremque libero provident, incidunt dolorem! Rerum nemo minus quaerat deleniti dolore assumenda? Non laborum, odio et maiores numquam harum ratione?</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Especialista Marco</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam, corporis quia accusamus vero suscipit ullam, quis inventore distinctio obcaecati doloribus perferendis deleniti pariatur exercitationem soluta fuga tempore reiciendis nulla.</p>
        </div>
      </div>
    </div>
  </div>