<body class="text-center">
    
<main class="form-signin w-50 m-auto">
  <form>
    <img class="mb-2" src="https://images.vexels.com/media/users/3/152018/isolated/preview/c728796e46fb111cce09ffd324a40949-icono-colorido-diente.png" alt="" width="30%" height="auto">
    <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="Mi-email@gmail.com">
      <label for="floatingInput">Direccion de email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-2">
      <label>
        <input type="checkbox" value="remember-me"> Recordar mi usuario
      </label>
    </div>
   <a href='#' class='btn btn-primary'>Iniciar Sesion 🦷</a>
  </form>
</main>